@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Bold'), local('Gilroy Bold');
  font-weight: bold;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-background text-white antialiased font-sans min-h-screen;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface/80 backdrop-blur-md border border-white/10 shadow-xl rounded-xl;
  }
}